<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- currently unused --}}
        {{!-- <h1>{{msg}}</h1> --}}
        <h2>ADD PAGE</h2>
        <form class="clearfix mb-4">
          <div class="form-group">
            <label for="search-text">Add</label>
            <input type="text" id="search-text-add" name="destination_name" class="form-control" aria-describedby="search-text" placeholder="Enter a city or town">
          </div>
          <button id="addButton" class="btn btn-primary float-right">Add destination</button>
        </form>
        

        
      </div>
    </div>
  </div>
</div>

