<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Weather</h5>
          <p>
            <strong>Weather</strong>: 
            {{temp.main.temp}}
          </p>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Camps</h5>
          <p>
            <strong>Campsites</strong>: 
            {{camps}}
          <p>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Trails</h5>

          <p>
            <strong>Trails:</strong> 
            {{trails}}
          </p>
        </div>
      </div>

      <a href="/">← Back To Home</a>

    </div>
  </div>
</div>
