<div id="home">
  <div class="container bg-secondary">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>THE WEEKEND WARRIOR</h2>
        <form class="clearfix mb-4">
          <div class="form-group">
            <input type="text" id="search-text" class="form-control" aria-describedby="search-text" placeholder="Search a location!">
          </div>
          <select name="search-radius" id="search-radius" class=`btn btn-mini btn-outline-warning">
            <option value="5">Within 5 miles</option>
            <option value="10">10 miles</option>
            <option value="20">20 miles</option>
            <option value="50">50 miles</option>
            <option value="100">100 miles</option>
          </select>
          <button id="submit" class="btn btn-outline-warning float-right">Submit</button>
        </form>
        <div id="renderMe">
          Recent Searches
          <ul>
            {{#each destination_searches}}
              <div>
                <a href="/location/{{destination_name}}&10" class="text-warning">{{destination_name}}</a>
              </div>
            {{/each}}
          </ul>
        </div>        
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/index.js"></script>
